
.nav {
	height: 40px;
	background: #f2f2f2;
}
.navbox {
	height: 40px;
	line-height: 40px;
	width: 1100px;
	margin: 0 auto;
	color: #C0C0C0;
	/*background-color: #FFB7DD;*/
}
.leftbox{
	float: left;
}
.leftbox a,span {
	margin-right: 10px;
	color: #C0C0C0;
}

ul.navright {
	/*background: pink;*/
	float: right;
	list-style: none;
}
ul.navright li{
	position: relative;
	float: left;
	margin-right: 10px;
}

.merc {
	color: #000000;
	display: none;
	top: 20px;
	right:0;
	position: absolute;
	height: 200px;
	width: 130px;
	/*background: #FFB7DD;*/
}
.merc p{
	color: #000000;
	margin-top: 1px;
	font-size: 15px;
}
.merc a ,.merc p{
	color: #000000;
	height: 25px;
	line-height: 25px;
}
p .left{
	margin-right: 10px;
}
/*hr {
	margin: 10px 0 10px 0; 
		
	size: 1;
	border: 1px dashed #AAAAAA;
}*/
.help{
	height: 70px;
	width: 130px;
	border-top:1px dotted #827777;
	border-bottom: 1px dotted #827777;
	margin: auto;

}
#xial:hover .merc{
	display: block;
}
a.right {
	float: right;
}

.header{
	height: 130px;
	position: relative;
	/*line-height: 130px;*/
}
.searchbox a img{
	margin-left: -45px;
	height: 130px;
	width: 290px;
	position:absolute;
}
.searchbox{
	height: 106px;
	width: 1230px;
	/*background:#ADD8E6;*/
	margin: 0 auto;
	display: block;
	/*vertical-align: middle;*/
	position: relative;
}
.search {
	padding-top: 42px;
	height: 36px;
	width: 625px;
	margin: 0 auto;
	/*background: #BBFFEE;*/
}
.search input#bd1{
	float: left;
	height: 32px;
	width: 489px;
	border: 2px solid red;
}
.search input#bd2 {
	height: 36px;
	width: 132px;
	background: red;
	color: white;
	font-size: 16px;
	border: 1px solid red;
}
input:focus{
	outline: none;
}
ul.rex{
	margin: 0 auto;
	margin-top: 10px;
	list-style: none;
}
ul.rex li{
	font-family: 宋体;
	color: #999;
	float: left;
	margin-right: 10px; 
}
ul.rex li a:hover {
	color: #999;
	text-decoration: none;
}
.midnav{
	height: 35.5px;
}

.midnav .midbox{
	height: 35.5px;
	width: 1260px;
	margin: auto;
	/*background: #BBFFEE;*/
}
.middh li{
	float: left;
	margin-right: 15px;
}
li#spfl {
	margin-left: 14.5px;
	background: red;
	height: 35.5px;
	width: 200px;
	position: relative;
}

li#spfl span{
	color: white;
	/*text-align: center;*/
	font-size: 16px;
	font-weight: 700;
	height: 36px;
	margin-left: 70px;
	line-height: 36px;
}
ul.middh li img{
	height: 30px;
	width: 100px;
}
ul.middh li.dq a {
	height: 35px;
	color: black;
	font-size: 16px;
	/*border: 1px solid red;*/
	position: relative;
	top: 4px;
}
ul.middh li.dq a:hover{
	text-decoration: none;
	color: red;
}

.zhuti {
	height: 500px;
	/*position: relative;*/
}
.zhutibox {
	width: 1230px;
	height: 500px;
	margin: auto;
	background: #BBFFEE;
}
.zhutibox .left-nav {
	height: 500px;
	width: 200px;

	/*background: #FFDDAA;*/
	float: left;
	/*padding-left: 5px;*/
	/*float: left;*/
}
ul.left-nav li{
	height: 26px;
	width: 200px;
	/*background: pink;*/
	margin-top: 2px;
	text-align: center;
	display: inline-block;
}

ul.left-nav li a{
	font-size: 14px;
	height: 26px;
	line-height: 26px;
	color: #666666;
}
ul.left-nav li:hover{
	background-color: #DDD;
}
ul.left-nav li a:hover {
	text-decoration: none;
	color: red;
}
.lb {
	height: 500px;
	width: 630px;
	float: left;
}

.imgbox {
	margin-top: 10px;
	height: 490px;
	width: 630px;
	/*background: #FFB7DD;*/
	float: left;
}
.imgbox li{
	position: absolute;
}
.imgbox li img{
	height: 490px;
	width: 630px;
}
.btn {
	height: 100px;
	position: relative;
}
.leftbtn{
	margin-top: 200px;

  	height: 0;
  	width: 0;
  	border-width: 30px;
  	border-style: solid;
  	border-color: transparent #666666 transparent transparent;
  	opacity: 0.7;
  	position: absolute;
}
.rightbtn{
	margin-top: 200px;
	right: 0px;
  	height: 0;
  	width: 0;
  	border-width: 30px;
  	border-style: solid;
  	border-color: transparent  transparent  transparent #666666;
  	opacity: 0.5;
	position: absolute;
}
.btn .leftbtn:hover,.btn .rightbtn:hover{
	opacity: 0.7;
}

.ydd{
	width: 200px;
	height: 36px;
	/*background: #FFB7DD;*/
	position: relative;
	margin-top: 350px;
	margin-left: 20px;
}

.ydd span{

 	 	margin-left: 1px;
 		height: 15px;
  		width: 15px;
 		display: inline-block;
  		border-radius: 50%;
  		background: #CCC;
  		opacity: 0.5;

}
